body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, aqua, black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.text-aqua {
    color: aqua;
}

h2 {
    margin-bottom: 20px;
}